<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1><%- include('partials/navigation') %></h1>

    <section class="banner">
        <div class="content-banner">
            <h2>"¡Transforma tu esfuerzo en resultados! 
                <br> Cada repeticióm cuenta hacia la mejor versión de ti mismo."</h2>
            <a href="#">INSCRIBIRSE</a>
        </div>
    </section>

    <h1 class="lema">Vive la experiencia <span class="gym">Ignite Gym:</span> El gimnasio para ti
    </h1>

    <main class="features">
        <div class="features-content">
            <div class="features-content-plan">
                <img class="imagen" src="/img/imagen1.png" alt="">
                <p>Build Your Mind and Body</p>
            </div>
            <div class="features-content-plan">
                <img class="imagen" src="/img/imagen2.png" alt="">
                <p>Get Stronger for Preparation</p>
            </div>
            <div class="features-content-plan">
                <img class="imagen" src="/img/imagen3.png" alt="">
                <p>Improve your life</p>
            </div>
            

    </main>
    <h1><%- include('partials/footer') %></h1>
</body>
</html>