<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/servicios.css">
</head>
<body>
    <h1><%- include('partials/navigation') %></h1>

    <section class="container top-categories">
        <h1 class="heading-1">Lo que Ofrecemos</h1>
        <div class="container-categories">
            <div class="card-category category-moca">
                <p>Yoga</p>
                <span>Ver más</span>
            </div>
            <div class="card-category category-expreso">
                <p>Maquinas</p>
                <span>Ver más</span>
            </div>
            <div class="card-category category-capuchino">
                <p>Combat</p>
                <span>Ver más</span>
            </div>


            <div class="card-category category-marketing">
                <p>Fisioterapia</p>
                <span>Ver más</span>
            </div>
            <div class="card-category category-analisis">
                <p>Cycling</p>
                <span>Ver más</span>
            </div>
            <div class="card-category category-mercado">
                <p>Zumba</p>
                <span>Ver más</span>    
            </div>
        </div>
    </section>
    <h1><%- include('partials/footer') %></h1>
</body>
</html>