<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="mainheader">
        <div class="mainheader-content">
            <nav class="logo-container">
                <img class="logo" src="/img/logo.png" alt="">
                <p>Ignite <span class="gym">Gym</span> </p>
            </nav>
            <nav class="options">
                <ul class="lista">
                    <li><a class="lista-content" href="/index">Inicio</a></li>
                    <li><a class="lista-content" href="/servicios">Servicios</a></li>
                    <li><a class="lista-content" href="/planes">Planes</a></li>
                    <li><a class="lista-content" href="/productos">Productos</a></li>
                </ul>
            </nav>
            <nav>
                <a href="/login" class="login">Sign in</a>
            </nav>
        </div>
    </header>
    <main class="features">
    </main>
</body>
</html>